body {
    background-color: #29282c;
    text-align: center;
}

div {
    background-color: #ffffff;
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

#add {
    border: 2px solid #210440;
    border-color: #210440;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    transition: all 0.75s ease;
}

#btn {
    border: 2px solid #29282c;
    padding: 5px 15px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #29282c;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    transition: all 0.75s ease;
}

#btn :hover {
    font-size: 22px;
    font-family: 'Prompt', sans-serif;
}

ul {
    text-align: left;
    margin-top: 20px;
}

li {
    font-family: 'Prompt', sans-serif;
    list-style: none;
    padding: 10px 20px;
    color: #29282c;
    text-transform: ;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-bottom: 2px solid #29282c;
    transition: all 0.75s ease;
}

li:hover {
    border: 2px solid #29282c;
    transition: all 0.50s ease;
    border-radius: 5px;
}

.checked {
    font-style: italic;
    text-decoration: line-through;
}

.delete {
    display: none;
}

;