body {
    background-color: #f7bb0e;
    text-align: center;
}

div {
    background-color: #ffffff;
}

h1 {
    font-family: 'Prompt', sans-serif;
    color: #f00000;
    font-size: 30px;
    font-weight: 600;
}

input {
    border: 3px solid #f962a7;
    border-color: #f7bb0e;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    color: #f00000;
    transition: all 0.75s ease;
}

.inputCl:focus {
    border: 3px solid #f7bb0e;
}

#enter {
    border: 3px solid #f00000;
    padding: 5px 15px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #f00000;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    transition: all 0.75s ease;
}

.mainFont {
    font-family: 'Prompt', sans-serif;
}

#enter:hover {
    border: 3px solid #f7bb0e;
    background-color: #f7bb0e;
    font-size: 21px;
    font-family: 'Prompt', sans-serif;
}

#taskList {
    font-family: 'Prompt', sans-serif;
    text-align: left;
    padding: 5px 5px;
    color: #f00000;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: #ffffff;
}

#completedList {
    font-family: 'Prompt', sans-serif;
    text-align: left;
    padding: 5px 5px;
    color: #f00000;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: #ffffff;
}

#completedBox {
    font-family: 'Prompt', sans-serif;
    list-style: none;
    padding: 10px 20px;
    color: #f7bb0e;
    text-transform: ;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: #ffffff;
    transition: all 0.75s ease;
}

#TaskBox {
    font-family: 'Prompt', sans-serif;
    color: #f00000;
    padding: 10px 20px;
    font-weight: 800;
    margin-bottom: 20px;
    background-color: none;
    transition: all 0.75s ease;
}

.taskB {
    margin-top: 10px;
    margin-left: 20px;
    border: 2px solid #f7bb0e;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 20px;
    background-color: #ffffff;
}

.doneBt {
    font-family: 'Prompt', sans-serif;
    list-style: none;
    padding: ;
    color: #f7bb0e;
    font-weight: 600;
    margin-bottom: 5px;
    background-color: #ffffff;
    transition: all 0.75s ease;
}

.delBt {
    font-family: 'Prompt', sans-serif;
    list-style: none;
    padding: ;
    color: #f00000;
    font-weight: 600;
    margin-bottom: 5px;
    background-color: #ffffff;
    transition: all 0.75s ease;
}

.taskTe {
    /* แก้ไขข้อความใน Complete List */
    font-family: 'Prompt', sans-serif;
    color: #f7bb0e;
    padding: 5px 20px;
    padding-top: 20px;
    text-align: left;
    font-style: italic;
    text-decoration: line-through;
    font-size: 20px;
}

.taskTe1 {
    font-family: 'Prompt', sans-serif;
    padding: 5px 20px;
    text-align: left;
    font-size: 22px;
}

#copyright {
    background-color: #f7bb0e;
    opacity: 0.8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    color: #ffffff;
}